doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
#myDIV.header
  h2(style='margin:5px') ToDo List
  input#myInput(type='text' placeholder='Task...')
  span.addBtn(onclick='newElement()') Add
ul#myUL
  each val in list
    if val.status == 'Complete'
      li.checked= val.name
    else
      li= val.name
  script
    include ../public/javascripts/utilities.js
